<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Remote Mouse</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header> Remote Mouse Controller</header>

<div id="touchpad"></div>

<div class="buttons">
    <button onclick="sendClick('left')">Left Click</button>
    <button onclick="sendClick('right')">Right Click</button>
    <button onclick="sendKey('backspace')">⌫ Delete</button>
</div>

<input id="keyboardInput" placeholder="Type text here...">

<div class="keyboard">
    <button onclick="sendKey('esc')">ESC</button>
    <button onclick="sendKey('tab')">TAB</button>
    <button onclick="sendKey('enter')">ENTER</button>
    <button onclick="sendKey('space')">SPACE</button>

    <button onclick="sendKey('up')">↑</button>
    <button onclick="sendKey('left')">←</button>
    <button onclick="sendKey('down')">↓</button>
    <button onclick="sendKey('right')">→</button>
</div>

<script src="/static/socket.io.min.js"></script>
<script src="/static/script.js"></script>
</body>
</html>
